@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src:url(../fonts/raleway/raleway-800.woff2);
  font-display: swap;
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src:url(../fonts/rubik/rubik-400.woff2);
  font-display: swap;
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src:url(../fonts/rubik/rubik-700.woff2);
  font-display: swap;
}
body {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  background-color: #ffffff;
}
.visually-hidden {
  position: fixed;
  transform: scale(0);
}
/* Секция шапки */
.header-page {
  background-color: #ffe17f;
  min-width: 1160px;
  min-height: 300px;
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 40px;
}
.logo-icon{
  margin-top: -20px;
  margin-left: 60px;
}

.navigation-list {
  list-style-type: none;
  display: flex;
}
.navigation-item{
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  margin: 0 10px; /* временное расстояние между пунктами */
}
.search-button{
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.login-button{
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}
.main-menu-list{
  list-style-type: none;
  display: flex;
}
.main-menu-link{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  margin: 0 10px; /* временное расстояние между пунктами */
}
.submenu{
  display: none;
}
.open-submenu:focus ~ .submenu,
.open-submenu:active ~ .submenu,
.submenu:hover
{
   display: block;
}
.submenu-item{
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}


/* Секция продуктовых категорий */
.product-categories{
  min-width: 1160px;
  min-height: 253px;
  margin-left: auto;
  margin-right: auto;
}
.product-icon {
  background-color: #ffe17f;
  margin: 40px;
}
.product-categories-name{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  width: 160px;
  min-height: 60px;
  letter-spacing: -0.02em;
}
.product-categories-list{
  text-align: center;
  list-style-type: none;
  display: flex;
}
