@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/raleway/raleway-800.woff2);
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rubik/rubik-400.woff2);
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/rubik/rubik-700.woff2);
  font-display: swap;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  background-color:  #FFFFFF;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

/* Секция шапки */
.header-page {
  background-color: #ffe17f;
  min-width: 1160px;
  min-height: 300px;
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 40px;
}

.logo-icon {
  margin-top: -20px;
  margin-left: 60px;
}

.navigation-item {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.search-input-field {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  opacity: 0.3;
}

.search-button {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.login-button {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.main-menu-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;

}

.submenu-item {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

/* Секция хит продаж */

.slide-number {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #FFFFFF;
}

.best-selling-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.best-selling-text {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  padding-bottom: 50px;
}

.button {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.table-content {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
  padding-left: 40px;
  padding-top: 50px;
}

.table-title {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #444444;
  line-height: 30px;
  padding-left: 40px;
  padding-top: 12px;
}

/* Секция продуктовых категорий */

.product-icon {
  background-color: #ffe17f;

}

.product-categories-list {
  max-width: 1160px;
  min-height: 253px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  list-style-type: none;
  display: flex;
}

.product-categories-item {
  width: 160px;
  height: 253px;
  padding: 20px;
}

.product-categories-name {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  width: 160px;
  min-height: 60px;
  letter-spacing: -0.02em;
  display: flex;
  padding-top: 32px;
}

/* Секция услуг*/
.services-button {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.services-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.services-delivery-slide:after {
  content: url('../images/main/delivery.svg');
}

.services-guarantee-slide:after {
  content: url('../images/main/guarantee.svg');
}

.service-сredit-slide:after {
  content: url('../images/main/credit.svg');
}

.services-description {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

/* Секция доставки редких товаров*/
.delivering-rare-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

/* Секция информации о компании */
.about-us-title,
.contacts-title,
.subscribe-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.about-us p,
.contacts p {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.delivery-item {
  padding-top: 19px;
}

.delivery-list {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.contacts h3 {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}

.timeline-list {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

/* Секция подписки на рассылку */
.subscribe p,
.contacts-phone {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.field {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  opacity: 0.5;
}

.subscribe-button {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.it-is-free {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

/* Подвал сайта */
.footer-page {
  background: #444444;
}

.footer-address {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.telegram:before {
  content: url('../images/footer/telegram.svg')
}

.youtube:before {
  content: url('../images/footer/youtube.svg')
}

.twitter:before {
  content: url('../images/footer/twitter.svg')
}

.phone-link {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.features-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
}

/* Main catalog.html */
.inner-catalog-title {
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 50px;
line-height: 50px;
color: #000000;
}

.breadcrumbs {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  list-style-type: none;
  display: flex;

}
.breadcrumbs-link {
padding-right: 36px;

}
.breadcrumbs-arrow:before {
  content: url('../images/catalog/breadcrumbs.svg');
  position: relative;
  right: 18px;
}
.product-filter{
  background-color: #f0f0f0;
}
