@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/raleway/raleway-800.woff2);
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rubik/rubik-400.woff2);
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/rubik/rubik-700.woff2);
  font-display: swap;
}

html {
  box-sizing: border-box;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

/* врем. границы блоков (удалить)
div,
section,
ul{
 border: 1px solid red;
} */

body {
  font-family: "Rubik", sans-serif;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
  margin: 0;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Шапка сайта*/
.wrapper-index {
  align-items: center;
  width: 1160px;
  margin: 0 auto;
}

.header-page {
  background-color: #ffe17f;
  margin-top: 47px;
  padding-left: 60px;
  padding-right: 60px;

}

.header-logo {
  position: relative;
  top: -20px;
}

.header-menu {
  margin: 0 auto;
}

.navigation-list {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.search-container {
  width: 517px;
}

.search {
  border: 2px solid #000000;
  border-radius: 25px;
  background-image: url('../images/header/search.svg');
  background-position-x: 17px;
  background-position-y: 11px;
  background-repeat: no-repeat;
}

.search-input-field {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  opacity: 0.3;
  width: 350px;
  outline: none;
  border: none;
  background: #ffe17f;
  padding-left: 48px;
}


.search-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  width: 158px;
  height: 38px;
  padding: 0;
  border: none;
  border-left: 2px solid #000000;
  background-color: transparent;
  cursor: pointer;
}

.login-button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #000000;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding-left: 26px;
  padding-right: 26px;
}

.login-button::before {
  content: url('../images/header/login.svg');
  padding-right: 5px;
}

.compare-item {
  padding-right: 26px;
  margin-left: auto;
}

.compare-item::before {
  content: url('../images/header/compare.svg');
  padding-right: 5px;
}

.logout-button {
  color: #000000;
  opacity: 0.3;
  text-decoration: none;
  padding-right: 26px;
}

.quantity {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  background: #ffffff;
  display: flex;
  gap: 4px;
  align-items: flex-end;
  justify-content: space-around;
  margin-right: 20px;
  margin-top: 5px;
}

.cart-item {
  display: flex;

}

.cart-item::before {
  content: url('../images/header/cart.svg');
  margin-right: -32px;
}


.navigation-link {
  color: #000000;
  text-decoration: none;
}

.main-menu-list {
  list-style: none;
  display: flex;
  min-width: 1040px;
  padding: 0;
  margin: 0;
  margin-top: 30px;
}

.main-menu-delivery {
  margin-left: auto;
}

.main-menu-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.submenu-list {
  /*  узнать правильное располож.*/
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  background-color: #ffe17f;
}

.submenu-item {
  /* врем. отступ  */
  padding-right: 45px;
}

.main-menu-guarantee {
  padding-left: 45px;
}

.main-menu-contacts {
  padding-left: 45px;
}


.submenu-link {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

/* Основное содержание */
.main-container {
  flex-grow: 1;
}

/* Секция "Хит продаж" */
.best-selling {
  display: flex;
  width: 1160px;
  position: relative;
  margin-bottom: 70px;
  margin: 0 auto;
  list-style-type: none;

}

.best-selling-slider-item img {
  display: block;
}

.best-selling-slider {
  counter-reset: item;
  list-style-type: none;
  padding: 0;
}

.best-selling-slider-item {
  display: flex;
}

.arrows-best-selling {
  display: flex;
  width: 530px;
  position: absolute;
  top: 186px;
  left: 30px;
  justify-content: space-between;
}

.target-best-selling {
  display: flex;
  width: 76px;
  position: absolute;
  top: 548px;
  left: 542px;
  justify-content: space-between;
}

.best-selling-slider-item::before {
  content: counter(item, decimal-leading-zero) " ";
  counter-increment: item;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  width: 1160px;
  font-size: 180px;
  height: 126px;
  background-color: #FFE17F;
  position: absolute;
  color: #ffffff;
}

.image-slider {
  position: absolute;

  z-index: 0;
}

.best-selling-info {
  display: flex;
  flex-direction: column;
  width: 560px;
  min-height: 401px;
  padding-left: 600px;


}

.best-selling-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  position: relative;
  z-index: 0;
}

.best-selling-text {
  padding-bottom: 50px;
}

.button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.table-content {
  font-size: 36px;
  color: #000000;
  padding-left: 40px;
  padding-top: 50px;
}

.table-title {
  font-size: 16px;
  padding-left: 40px;
  padding-top: 12px;
}

/* Секция продуктовых категорий */
.product-categories {
  width: 1160px;
  margin: 0 auto;
}

.product-icon {
  background-color: #ffe17f;
}

.product-categories-list {
  text-align: left;
  list-style-type: none;
  display: flex;
  padding: 0;
}

.product-categories-item {
  width: 160px;
  height: 253px;
  padding: 19px;
}

.virtual-reality-item {
  padding-left: 0;

}

.quadcopter-item {
  padding-right: 0;
}

.product-categories-item-link {
  text-decoration: none;
  color: #000000
}

.product-categories-name {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  width: 160px;
  min-height: 60px;
  letter-spacing: -0.02em;
  display: flex;
  padding-top: 32px;
}

/* Секция услуг */
.services {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

.services-navigation {
  display: flex;
  flex-direction: column;
  width: 287px;
  height: 319px;
  justify-content: space-evenly;
  border-right: 7px solid #000000;
}

.services-button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 160px;
}

.services-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.services-delivery-slide {
  min-width: 873px;
  min-height: 319px;
  display: flex;
  flex-direction: column;
  background-image: url('../images/main/delivery.svg');
  /* примерные значения background-position */
  background-position-x: 650px;
  background-position-y: 70px;
  background-repeat: no-repeat;
}

.services-guarantee-slide {
  min-width: 873px;
  min-height: 319px;
  display: flex;
  flex-direction: column;
  background-image: url('../images/main/guarantee.svg');
  /* примерные значения background-position */
  background-position-x: 650px;
  background-position-y: 70px;
  background-repeat: no-repeat;
}

.service-сredit-slide {
  min-width: 873px;
  min-height: 319px;
  display: flex;
  flex-direction: column;
  background-image: url('../images/main/credit.svg');
  /* примерные значения background-position */
  background-position-x: 650px;
  background-position-y: 70px;
  background-repeat: no-repeat;
}

.services-title {
  width: 242px;
  height: 50px;
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  padding-left: 116px;
  margin: 0;
  margin-top: 73px;
}

.services-description {
  width: 500px;
  height: 90px;
  display: flex;
  padding-left: 116px;
}

/* Секция доставки редких товаров */
.delivering-rare {
  display: flex;
  align-content: center;
}

.delivering-rare-button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  background-color: #f0f0f0;
  padding: 0;
  border: none;
  cursor: pointer;
  width: 1160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delivering-rare-button::before {
  content: url('../images/main/delivery-truck-icon.svg');
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffe17f;
  width: 125px;
  height: 100px;
}

.delivering-rare-button::after {
  content: url('../images/main/info.svg');
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  width: 125px;
  height: 100px;
}

/* Секция информации о компании */
.container-contact-info {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 70px;
}

.about-us-title,
.contacts-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.delivery-item {
  padding-top: 19px;
}

.delivery-list {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.contacts h3 {
  font-weight: 700;
  font-size: 24px;
}

.business-address {
  font-style: normal;
}

.contacts-phone {
  font-style: normal;
  color: inherit;
  text-decoration: none;
}

.timeline-list {
  list-style: none;
  padding: 0;
}

/* Секция подписки на рассылку */
.subscribe {
  background-color: #f0f0f0;
  margin: 0 auto;
  padding: 0 140px;
  width: 1440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
}

.subscribe-wrapper {
  width: 1158px;
  display: flex;
  justify-content: space-between;

}

.subscribe-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  display: block;
  margin: 64px 0 144px 10px;

}

.subscribe-text {
  display: block;
  margin: 74px 25px 144px auto;
}

.subscribe-form {
  width: 1158px;
  display: flex;
  margin-bottom: 56px;
}

.it-is-free {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.it-is-free::before {
  content: url('../images/main/tick.svg');
  padding-right: 16px;
  padding-top: 7px;
}

.field {
  width: 557px;
  height: 54px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #000;
  background-color: #f0f0f0;
  padding: 0;
  border: 0;
  border-bottom: 3px solid #949494;
  opacity: 0.5;
}

.subscribe-button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 39px;
  width: 253px;
  height: 57px;
  border: 3px solid #c4c4c4;
}

/* Каталог */

.inner-catalog-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

/* Хлебные крошки */
.breadcrumbs {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  list-style-type: none;
  display: flex;
}

.wrapper-catalog {
  background-color: #f0f0f0;
  margin: 0 auto;
  padding: 0 140px;
  width: 1440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
}

.breadcrumbs-link {
  padding-right: 36px;
}

.breadcrumbs-arrow::before {
  content: url('../images/catalog/breadcrumbs.svg');
  position: relative;
  right: 18px;
}

/* Секция фильтрции и сортировки продуктов */
.product-filter {
  background-color: #f0f0f0;
}

.product-filter-title,
.product-sorting-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.filter-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.product-sorting-form {
  background-color: #f0f0f0;
}

.color-control,
.bluetooth-control {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.cost-control-range {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  opacity: 0.3;
}

.select-control {
  color: #000000;
}

.sorting-button-up::before {
  content: url('../images/catalog/triangle-up.svg');
}

.sorting-button-down::before {
  content: url('../images/catalog/triangle-down.svg');
}

/* Секция продуктовых карточек */
.product-list {
  list-style: none;
}

.product-card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.product-card-price {
  line-height: 21px;
  text-align: right;
}

/* Пагинация */
.show-more {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.pagination {
  background-color: #f0f0f0;
  list-style-type: none;
  display: flex;
}

.pagination-item {
  padding: 15px;
}

.pagination-back {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  padding-right: 170px;
}

.pagination-next {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  padding-left: 170px;
}

.pagination-disabled {
  opacity: 0.3;
}

.pagination-link {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  opacity: 0.3;
}

.pagination-current {
  opacity: 0.6;
}

/* Подвал сайта */
.footer-page {
  background: #444444;
  color: #ffffff;
  margin: 0 auto;
  padding: 62px 140px;
  width: 1440px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.features {
  width: 1160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 35px;
}

.features-list {
  width: 444px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;


}

.footer-address {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 0;

}

.socials {
  display: flex;
  justify-content: flex-end;
  margin-top: 35px;

}

.social-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 150px;
  padding: 0;
  margin: 0;
  margin-right: 340px;
}

.telegram:before {
  content: url('../images/footer/telegram.svg');
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  opacity: 0.2;
}

.youtube::before {
  content: url('../images/footer/youtube.svg');
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  opacity: 0.2;
}

.twitter::before {
  content: url('../images/footer/twitter.svg');
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  opacity: 0.2;
}

.phone-link {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}

.footer-phone {
  margin: 0;
}

.features-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}
